image: Visual Studio 2015
version: '{branch}.{build}'

environment:
  matrix:
#    - PHP_REL: 7.0
#      ARCHITECTURES: amd64 x86
#      ZTS_STATES: enable disable
    - PHP_REL: 7.1
      ARCHITECTURES: amd64
      ZTS_STATES: enable

install:
- cmd: cinst wget
- cmd: mkdir C:\projects\win32service\build

build_script:
  - appveyor\build.cmd

artifacts:
  - path: artifacts
    name: php_win32service-%APPVEYOR_REPO_TAG_NAME%-%PHP_REL%-vc14
    type: zip
